@charset "utf-8";
html{
    font-size: 100%;
}
/*body*/
body{
    background-color: #e5cf261a;
    line-height: 1.7;
    color:#333;
}

img{
    max-width:100%;
}

/*標題*/
header {
    position: absolute; /* 使用適當的position值 */
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(210, 133, 85, 0.5); /* 使用rgba色彩以實現背景半透明 */
    color: rgb(182, 147, 98);
    padding: 5px;
    text-align: center;
    z-index: 1000;
}
page-header {
    text-align: center;
    background-color: #e0ba14; /* 設置背景顏色 */

    color: rgb(23, 21, 21); /* 設置文字顏色 */
    padding: 10px;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 10px; /* 調整選項之間的間距 */
    vertical-align: top; /* 垂直對齊顶部 */
   
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* 初始下拉選單樣式 */
.dropdown {
    position: relative;
    display: inline-block;
}

 /* 滑鼠懸停時顯示下拉選單 */
 .dropdown:hover .dropdown-content {
    display: block;
}

/* 下拉選單樣式 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

/* 下拉選單中的項目樣式 */
.dropdown-content li {
    list-style-type: none;
    padding: 10px;
}

/* 滑鼠懸停時的下拉選單項目樣式 */
.dropdown-content li:hover {
    background-color: #ccc;
}
/* 設定標題文字的顏色和字體大小 */
h1 
{
    color: #333;
    font-size: 24px;
}

/* 設定表格的背景顏色和邊框 */
table {
    margin: 0 auto; /* 水平置中 */
    text-align: left; /* 表格內文字靠左對齊 */
    background-color: #fbc786aa;
    border: 1px solid #1518d6;
    border-radius: 10px;
}

/* 設定表格中的文字大小和間距 */
td 
{
    font-size: 16px;
    padding: 10px;
    border:1px solid #1518d6;
    margin: 0 auto; /* 水平置中 */
    text-align: left; /* 水平靠左對齊 */
    vertical-align: middle; /* 垂直居中對齊 */
    max-width: 500px;
    max-height: 500px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    color: black;
    padding: 5px;
    text-align: center;
    z-index: 1000;
    opacity: 0.5;
}
.wrapper {
    display: flex;
    flex-wrap: wrap; /* 如果內容太多，則允許折行 */
    justify-content: space-between; /* 元素之間的空間平均分配 */
    align-items: center; /* 垂直居中對齊元素 */
}
#location {
    padding: 4%;
    display: flex;
}


.location-info {
    width: 22%;
    flex:1;
}

.location-info p {
    padding: 12px 10px;
}

.location-map {
    width: 30%;
    flex:1;
}

iframe {
    width: 100%;
}







